body{
  background-image: img\fondoessen.webp;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: sans-serif, 'Noto Sans';
  background-color: black;


carousel { ancho: 640px; altura: 360px; }
